.gallery {
  padding-top: 105px;

  .image {
    overflow: hidden;
    width: 100%;
    min-height: 140px;
    height: 140px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  figure {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    &:hover {
      figcaption {
        @include opacity(1);
      }

    }
    figcaption {
      position: absolute;
      top: 0;
      display: block;
      @include calc(width, "100% - (10px * 2)");
      height: 100%;
      background-color: rgba(#555555, 0.4);
      @include transition-property(all);
      @include transition-duration(700ms);
      @include opacity(0);
    }
    p {
      overflow: hidden;
      margin-bottom: -5px;
      padding-left: 15px;
      padding-top: 85px;
      font-family: "Roboto", sans-serif;
      font-size: 22px;
      font-weight: 100;
      color: #ffffff;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: break-word;
    }
    time {
      padding-left: 15px;
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      font-weight: 400;
      color: #4ccde8;
    }
  }
}

